<body>
  <nav class="navbar">
    <!--Logo-->
    <div class="nav-logo">NOTE-ONE</div>
    <!--Navigation menu-->
    <ul class="nav-contents">
      <li><a href="">Home</a></li>
      <li><a href="">Sync</a></li>
      <li class="nav-dropdown"><a hred="">Tools</a>
        <ul class="nav-dropdown-contents">
          <li><a>Dropdown 1</a></li>
          <li><a>Dropdown 2</a></li>
          <li><a>Dropdown 3</a></li>
          <li><a>Dropdown 4</a></li>
        </ul>
      </li>
      <li><a href="">About</a></li>
  </ul>
  </nav>
  <app-notes></app-notes>
</body>
