<header class="flex primary-header">
    <div>
        <img src="assets/logo.png" class="logo">
    </div>
    <button aria-controls="primary-navigation"><span class="sr-only">Menu</span></button>
    <nav>
        <ul id="primary-navigation" class="primary-navigation flex">
            <li class="active">
                <a href=""><span aria-hidden="true">00</span>Home</a>
            </li>
            <li class="active">
                <a href=""><span aria-hidden="true">01</span>Tools</a>
            </li>
            <li class="active">
                <a href=""><span aria-hidden="true">02</span>Help</a>
            </li>
            <li class="active">
                <a href=""><span aria-hidden="true">03</span>FAQs</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <!-- <app-tlv-analyzer></app-tlv-analyzer> -->
</body>
    