<header class="primary-header">
    <div class="logo-div">
        <img src="assets/paymentImg.png" class="logo">
    </div>
    <div class="app-name">
        <h1>PAYMENT TOOLS</h1>
    </div>>
    <!-- <button aria-controls="primary-navigation"><span class="sr-only">Menu</span></button> -->
    <nav class="primary-nav">
        <ul class="primary-navigation">
            <li class="active">
                <a href=""><span aria-hidden="true">00</span>Home</a>
            </li>
            <li class="active">
                <a href=""><span aria-hidden="true">01</span>Tools</a>
            </li>
            <li class="active">
                <a href=""><span aria-hidden="true">02</span>Help</a>
            </li>
            <li class="active">
                <a href=""><span aria-hidden="true">03</span>FAQs</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <app-tlv-comparer></app-tlv-comparer>
</body>
    