.flex {
 display: flex;
 gap: var(--gap, 2rem)
}

.logo {
    margin: 0rem;
    max-width: 4rem;
    min-width: 4rem;
}
.logo-div {
    margin: 0px;
    padding: 0px;
}

.app-name {
    margin-right: auto;
    align-self: center;
    color: white;
}

.primary-navigation > li >a {
    list-style: none; 
    color: white;   
}

.primary-header {
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgb(47, 47, 129);
}

.primary-navigation {
    display: flex;
    gap: var(--gap, 2rem);
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.primary-navigation a {
    text-decoration: none;
}

.something {
    background-color: red;
    height: 300px;
}
